body        { 
                background-color: rgb(212, 208, 197);
                background-image: url(backimg.png);
                background-repeat: repeat;
                color: rgb(69, 72, 76); 
                margin-top: 0px;
                font-family: Courier New, sans-serif; 
                font-size: 12px;
            }

#container  { 
                background-color: rgb(243, 243, 243);
                margin-left: auto;
                margin-right: auto;
                width: 85%;
                min-width: 800px;
                max-width: 2300px;
                border-radius: 25px;
                box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);
            }

#header     {   
                border-radius: 25px 25px 0px 0px;
                background-color: rgb(244, 185, 45);
                width: 100%;
                height: 160px;
            }

#footer     {   
                padding-top: 10px;
                background-color: rgb(244, 185, 45);
                border-radius: 0px 0px 25px 25px;
                width: 100%;
                height: 35px;
                text-align: center;
            }
a           {   
                text-decoration: none;
                font-family: Century Gothic, sans-serif;
                font-size: 18px;
                font-weight: 700;
                color: rgb(209, 219, 215);
}
a:hover     {   color: rgb(69, 72, 76); }

#content    {   
                padding-top: 20px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 20px;
            }

h1          {   
                font-family: Century Gothic, sans-serif;
                font-size: 40px;
                color: rgb(209, 219, 215);
                text-align: center;
                padding-top: 30px;
            }
p           {   
                font-family: Courier New, sans-serif; 
                font-size: 14px;
                padding-left:3px;
                color: rgb(69, 72, 76);
    
            }
img         {   float: right;
                margin-top: 50px;
                margin-right: 100px;
                opacity: 0.7; }
table, th, td {
                border: 1px solid rgb(187, 187, 187);
                border-collapse: collapse;
                padding-bottom: 4px;
            }

table       {   margin-bottom: 4px; }

th          {
                margin: 0px;
                padding: 4px 8px;
                width: 60px;
                font-family: Century Gothic, sans-serif; 
                color: rgb(244, 185, 45);
                font-size: 12px;
                text-align: center;
            }
#nametable  { width: 150px; }
#trainertable { width: 150px;}

td          { 
                padding-top: 5px;
                font-family: Cambria, Georgia, "Times New Roman", serif; 
                color: rgb(69, 72, 76);
                font-size: 12px;
                text-align: center;
            }

input       { 
                width: 200px;
                height: 25px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding-left:3px;
                border-radius: 5px;
                font-family: Courier New, sans-serif; 
                font-size: 14px;
            }

button      {
                background-color: rgb(97, 156, 171);
                border: none;
                border-radius: 5px;
                color: rgb(255, 255, 255);
                margin: 10px;
                padding: 4px 4px;
                width: 200px;
                height: 50px;
                text-align: center;
                font-family:Century Gothic, sans-serif;
                font-size: 15px;
            }
button:hover { opacity: 0.7; }
legend      { font-family: Courier New, sans-serif; 
                color: rgb(69, 72, 76);
                text-align: center;
                font-size: 14px; 
            }
.align-center { 
                text-align: center; 
                font-family: Century Gothic, sans-serif;
                font-size: 12px;
                color: rgb(244, 185, 45);
            }
.align-left { 
                text-align: left;
                padding-left: 140px;
                padding-right: 20px;
                font-family: Century Gothic, sans-serif;
                font-size: 14px;
                color: rgb(244, 185, 45);
            }
.message { 
                text-align: center;
                font-family: Century Gothic, sans-serif;
                font-size: 18px;
                color: rgb(244, 185, 45);
            }

#add         { background-color: rgb(75, 116, 156);}
#displayAll  { background-color: rgb(75, 116, 156);}
#delete      { background-color: rgb(97, 156, 171);}
#display     { background-color: rgb(97, 156, 171);}
#change     { background-color: rgb(161, 192, 196);}
#button1    { visibility: hidden; }


.ability-input { width: 100px;
                height: 25px;
                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 5px;
                font-family: Courier New, sans-serif; 
                font-size: 14px;
                padding-left:3px;
    
}
#submit     { 
                float: right;
                margin-right: 80px;
                background-color: rgb(244, 185, 45);;
            }
