<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="tokimon.css">
        
    </head>
    
    <body>
        <div id="container">
            
            <div id="header">
                <h1 id="title">T o k i m o n
                <br>
                D a t a b a s e</h1>
                
            </div>
            <div id="content">
                <table>
                    <fieldset>
                    <legend>Message</legend>
                    <br>
                    <br>
                    <br>
                    <div class="message">
                    Query failed. Please re-check your input
                    </div>
                    <br>
                    <br>
                    <br>
                </fieldset>
                </table> 
            </div>
            <div id="footer"><a href="tokimon.html">> > h o m e < <</a></div>

        </div>
    </body>
</html>